.add-pet-form-parent {
    /* margin-left: 10%; */
    margin: 0 auto;
    width: 500px;
    background-color: plum;
    padding: 40px;
}

.form-header {
    text-align: center;
    padding: 10px;
    margin-top: -15px;
    border-bottom: 1px solid black;
}

/* .radio-section {
    display: inline;
} */

.radio-section input[type=radio] {
    visibility: hidden;
    display: none;
}

.radio-section label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    width: 100px;    
}
  
.radio-section input[type=radio]:checked+label {
    background-color: rgb(33, 48, 133);
}

.left-label {
    text-align: left;
}