.add-pet-form-parent {
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
    width: 500px;
    background-color: rgba(255, 255, 255, .3);
    padding: 40px;
    border-radius: 4pt;
    -webkit-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
    box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
}

.add-pet-form-parent input {
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    width: 400px;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-header {
    /* font-weight: 600;     */
    text-align: center;
    padding: 10px;
    margin-top: -15px;
    margin-bottom: 20px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.radio-input {
    display: inline-block;
}

.radio-section input{
    overflow: hidden;
} 

.radio-section, .form-section {
    margin-bottom: 10px;
}

input[type=radio] {
    visibility: hidden;
    display: none;
}

.radio-section label {
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    padding: 5px 20px;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    width: 200px;   
    border: 3px solid rgba(138, 43, 226, .85);
    text-align: center; 
}

.radio-section label:hover {
    color: #ffffff;
}

.left label, .left{
    border-radius: 3px 0px 0px 3px;
    border-right: 0;    
}

.right label {
    border-radius: 0px 3px 3px 0px;    
}

.form-label {
    color: #ffffff;
}

input[type=radio]:checked + label, .add-pet-form button:hover {
    color: white;
    background: rgba(138, 43, 226, .7);
}

.left-label {
    text-align: left;
}

.add-pet-form button {
    border-radius: 4pt;
    padding: 15px 30px;
    font-size: 1.6em;
    font-weight: bold;
    border: 3px solid rgba(138, 43, 226, .7);
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .add-pet-form-parent {
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 40px;
        width: 80%;
        background-color: rgba(255, 255, 255, .6);        
    }
    .form-header {
        color: #000;
        border-bottom: 2px solid #000;        
    }
    .add-pet-form-parent input {
        width: 80%;
        font-size: 1.5em;
    }
}