.add-pet-form-parent {
    /* margin-left: 10%; */
    margin: 0 auto;
    width: 200px;
}
.form-section {
    margin: 20px;
}

.radio-label {
    display: inline;
}

.add-pet-form {
    border: 1px solid grey;
    float: left;
    text-align: left;
}

.checkbox-label {
    color: #404040;
    /* float: right; */
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    width: 40px;
}

input[type=checkbox] {
    display: inline-block;
}

input[type=radio] {
    margin: 5px;
}

.checkbox {
    display: inline;
}
