.delete-pet-form {
  overflow: hidden;
}
.delete-btn {
  float: right;
  border-radius: 4pt;
  border: 2px solid #8a2be2;
  background-color: rgb(250, 214, 214)
}

.delete-btn:hover {
  background: red;
  border-color: #000;
  color: #fff;
}