.delete-pet-form {
  overflow: hidden;
}
.delete-btn {
  float: right;
  font-weight: 600;
  border-radius: 4pt;
  border: 3px solid #8a2be2;
  background-color: #fff;
  cursor: pointer;
}

.delete-btn:hover {
  background: red;
  border-color: #000;
  color: #fff;
}