.form-error {
  color: red;
  text-align: center;
}

input[type=checkbox] {
  display: inline-block;
}

input[type=radio] {
  margin: 5px;
}
input {
  text-align: center;
  border: none;
  border-bottom: 2px solid blueviolet;
  outline: none;
  margin: 10px;
}

input:focus {
  border-bottom: 2px solid rgb(113, 223, 113);
}