.form-container {
  background: black;
  opacity: .75;
  max-width: 500px;
  padding: 25px;
  border-radius: 4pt;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
  box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.8);
  text-align: center;
}

.demo {
  color: #FFF;
  font-size: 1.5em; 
}

.form-container input {
  width: 400px;
  font-size: 1.8em;
  margin-top: 12px;
  margin-bottom: 12px;
  opacity: 1;
}

.form-container button {
  padding: 5px 25px;
  font-size: 1.75em;
  background: rgba(138, 43, 226, .5);
  color: #FFF;
  border: 2px solid blueviolet;
  cursor: pointer;
  border-radius: 4pt;
  margin: 10px;
}

.form-container button:hover {
  background: blueviolet;
  color: #FFF;
}

.no-account{
  color: #FFF;
  text-align: right;
  margin-right: 20px;
}

.form-container span {
  color: blueviolet;
  text-decoration: none;
}

.form-container span:hover {
  text-decoration: underline;
  color: #c05fff;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .demo {
    font-size: 1.3em; 
  }
  .form-container {
    margin-top: 50px;
  }
  .form-container, .form-container input {
    width: 90%;
  }
  .form-container input {
    font-size: 1.5em;
  }
}