/*
Primary Colors:
P - #b867c6
P light - #ec97f9
P Dark - #863895

Secondary Colors:
S - #e1bee7
S Light - #fff1ff
S Dark - #af8eb5
*/
body {
    background-color: rgba(0, 0, 0, .4)
}
.react-sanfona {
    max-width: 1200px;   
    padding: 15px;    
}

.react-sanfona-item-expanded .react-sanfona-item-title {
    background-color: rgba(138, 43, 226, .7);
    color: #ffffff;
}

.pet-box-expanded {
    max-width: 900px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 3pt;
    border: 3px solid black;
    padding: 10px !important;
}

.react-sanfona-item {
    padding: 5px;
}

.react-sanfona-item-title	{
    cursor: pointer;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(138, 43, 226, .9);
    padding: 12px;
    border-radius: 3pt;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;    
    border: 3px solid black;
}

.react-sanfona-item-title:nth-child(even) {
    background-color: #e1bee7;
}

.chart {
    display: inline-block; 
    width: 375px;
    height: 250px;
    /* color: #ffffff; */
}
.pets-header {
    margin-top: 10%;
}

@media only screen and (max-width: 800px) {
    
}
