.pet-parent {
    text-align: center;
}

.react-sanfona {
    padding: 15px;    
    max-width: 1200px;
    margin: 0 auto;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
    background-color: rgba(138, 43, 226, .7);
    color: #ffffff;
}

.pet-box-expanded {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3pt;
    border: 3px solid rgba(83, 0, 175, 1);
    box-shadow: 0 0 7px #fff;
    padding: 5px !important;
}

.chart {
    /* display: inline-block;  */
    width: 100%;
}

.react-sanfona-item {
    padding: 5px;
}

.react-sanfona-item-title	{
    cursor: pointer;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(138, 43, 226, .9);
    padding: 12px;
    border-radius: 3pt;
    color: #ffffff;
    margin: 0px auto;
    text-shadow: 1px 1px 1px #000;    
    border: 3px solid #000;
    box-shadow: 0 0 20px #ffffff
}

.react-sanfona-item-title:nth-child(even) {
    background-color: #e1bee7;
}
.chart-parent {
    width: 100%;
    text-align: center;
}

.chart {
    display: inline-block; 
    height: 250px;    
}


@media only screen and (max-width: 767px) {
    /* phones */
    .chart, .food {
        display: inline-block; 
        width: 100%;
    }
    .react-sanfona-item-title {
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Tablets, small desktops/laptops */
    .react-sanfona  {
        min-width: 700px;
    }
}

@media screen and (min-width: 1025px){
    .react-sanfona  {
        min-width: 800px;
    }
    .chart, .food {
        width: 100%;
    }
}
