/*
Primary Colors:
P - #b867c6
P light - #ec97f9
P Dark - #863895

Secondary Colors:
S - #e1bee7
S Light - #fff1ff
S Dark - #af8eb5
*/
body {
    background-color: rgba(0, 0, 0, .4);
    /* width: 100%; */
}

.pet-parent {
    /* width: 90%; */
    text-align: center;
}

.react-sanfona {
    padding: 15px;    
    max-width: 1000px;
    margin: 0 auto;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
    background-color: rgba(138, 43, 226, .7);
    color: #ffffff;
}

.pet-box-expanded {
    /* max-width: 900px; */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3pt;
    border: 3px solid black;
    padding: 5px !important;
}

.react-sanfona-item {
    padding: 5px;
    /* min-width: 80%; */
    /* max-width: 1000px; */
}

.react-sanfona-item-title	{
    cursor: pointer;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(138, 43, 226, .9);
    padding: 12px;
    border-radius: 3pt;
    color: #ffffff;
    margin: 0px auto;
    text-shadow: 1px 1px 1px #000;    
    border: 3px solid black;
}

.react-sanfona-item-title:nth-child(even) {
    background-color: #e1bee7;
}
.chart-parent {
    width: 100%;
    text-align: center;
}

.chart {
    display: inline-block; 
    /* width: 80%; */
    height: 250px;    
    /* margin: 0 auto; */

    /* padding: -10px; */
}
canvas {
}
/* .chart {

} */
.pets-header {
    margin-top: 10%;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
    .chart, .food {
        display: inline-block; 
        width: 100%;
    }
    .react-sanfona-item-title {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}