Form {
    /* background: grey; */
    text-align: center;
}

.login-form {
    display: block;
}

.registration-btn {
    padding: 12px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    color: black;
}