@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  /* phones */
  html {
    overflow: auto !important;
  }
}